name: Playwright CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npm run test

      - name: Run Tests and Generate Report
        run: npm test file ./MyAPI.test.js
      - name: Upload Test Report
        if: always()  # Upload even if tests fail
        uses: actions/upload-artifact@v3
        with:
          name: mochawesome-report
          path: mochawesome-report/

